.sidebar {
  background-color: $color-primary;
  grid-column: side-bar-start/ side-bar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/ -1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;

  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  margin-top: 4rem;

  background-color: #fff;
  width: 4.5rem;
  height: 2px;


  &::before,
  &::after {
    content: ""; // will be invisible w/o content
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1.0rem);
    }

  }

}

